@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #183521;
  --accent: #E1C825;
}

body {
  @apply bg-primary-900 text-white;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-primary-800;
}

::-webkit-scrollbar-thumb {
  @apply bg-primary-600 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-primary-500;
}
